In [2]:
import pandas as pd
import numpy as np

# Display settings
pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 120)

print("Notebook ready")

Notebook ready

In [8]:
from pathlib import Path

DATA_PATH = Path("discount_sensitivity_features_v5_202601232205.csv")

assert DATA_PATH.exists(), f"File not found: {DATA_PATH}"

df = pd.read_csv(DATA_PATH)

print(f"Loaded dataframe with shape: {df.shape}")

Loaded dataframe with shape: (1691892, 50)

In [10]:
df.columns

Index(['externalcustomerkey', 'as_of_date', 'shops_included', 'first_order_date', 'last_order_date',
       'days_since_last_order', 'orders_lifetime', 'orders_15d', 'orders_30d', 'orders_3m', 'orders_6m', 'orders_12m',
       'revenue_net_lifetime_eur', 'revenue_net_15d_eur', 'revenue_net_30d_eur', 'revenue_net_6m_eur',
       'revenue_net_12m_eur', 'aov_net_lifetime_eur', 'aov_net_12m_eur', 'aov_net_6m_eur', 'items_qty_lifetime',
       'items_qty_6m', 'items_qty_12m', 'avg_items_per_order_lifetime', 'avg_items_per_order_12m',
       'avg_items_per_order_6m', 'discount_abs_lifetime_eur', 'discount_rate_lifetime',
       'share_of_orders_with_discount', 'share_of_items_discounted', 'avg_discount_per_order',
       'max_discount_single_order', 'avg_unit_price_lifetime_eur', 'min_unit_price_lifetime_eur',
       'max_unit_price_lifetime_eur', 'refund_orders_lifetime', 'refund_orders_12m', 'refund_orders_6m',
       'refund_orders_3m', 'refund_rate_lifetime', 'refund_rate_12m', 'refund_rate_6m', 'refund_rate_3m',
       'paymentmethod', 'is_guest_order', 'order_month', 'account_age_days', 'registration_flag', 'country', 'gender'],
      dtype='object')

In [11]:
# Sanity checks around dates
date_cols = [
    "as_of_date",
    "first_order_date",
    "last_order_date"
]

df[date_cols] = df[date_cols].apply(pd.to_datetime, errors="coerce")

df[date_cols].describe()

                as_of_date               first_order_date                last_order_date
count              1691892                        1691892                        1691892
mean   2026-01-23 00:00:00  2022-03-09 14:42:23.804922880  2022-05-19 17:48:24.466243328
min    2026-01-23 00:00:00            2021-01-23 00:00:00            2021-01-23 00:00:00
25%    2026-01-23 00:00:00            2021-07-28 00:00:00            2021-10-22 00:00:00
50%    2026-01-23 00:00:00            2021-12-29 00:00:00            2022-05-06 00:00:00
75%    2026-01-23 00:00:00            2022-11-19 00:00:00            2022-12-22 00:00:00
max    2026-01-23 00:00:00            2023-09-25 00:00:00            2023-09-25 00:00:00

In [12]:
# Impossible cases
df[
    (df["first_order_date"] > df["as_of_date"]) |
    (df["last_order_date"] > df["as_of_date"])
].shape

(0, 50)